# Virtual Environment
myvenv/
venv/
.env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Temporary Files
*.tmp
*.bak

similarity.pkl